*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

.disabled {
  display: none !important;
}

body {
  width: 100vw;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.bg-container {
  position: relative;
  grid-row: 1/2;
  background-image: url("../images/bg-main-mobile.png");
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.bg-container .card-reverse {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 300px;
  height: 165px;
  background-image: url("../images/bg-card-back.png");
  background-size: cover;
  z-index: 2;
}
.bg-container .card-reverse div {
  position: relative;
  width: 100%;
  height: 100%;
}
.bg-container .card-reverse div .card-reverse-cvc {
  position: absolute;
  display: inline-block;
  top: 74px;
  left: 240px;
  color: white;
  font-size: 12px;
}
.bg-container .card-front {
  position: absolute;
  width: 300px;
  height: 165px;
  top: 110px;
  left: 15px;
  background-image: url("../images/bg-card-front.png");
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  z-index: 3;
}
.bg-container .card-front div {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.bg-container .card-front div .card-front-logo {
  width: 60px;
  margin: 20px;
}
.bg-container .card-front div p {
  color: white;
}
.bg-container .card-front div .card-front-number {
  position: absolute;
  left: 20px;
  top: 85px;
  display: inline-block;
  width: 100%;
  letter-spacing: 3px;
}
.bg-container .card-front div .card-front-cardholder-name,
.bg-container .card-front div .card-front-exp-date {
  position: absolute;
  top: 130px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
.bg-container .card-front div .card-front-cardholder-name {
  left: 20px;
}
.bg-container .card-front div .card-front-exp-date {
  right: 20px;
}
.bg-container .card-front::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 165px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(157, 52, 255, 0.1);
  background-image: linear-gradient(45deg, rgba(157, 52, 255, 0.05) 0%, rgba(154, 93, 0, 0.05) 100%);
  z-index: 4;
}

.data-container {
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto 20px auto;
  width: calc(100% - 50px);
  max-width: 600px;
}
.data-container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  color: hsl(278deg, 68%, 11%);
  text-transform: uppercase;
  font-size: 14px;
}
.data-container form label,
.data-container form .expire-date {
  letter-spacing: 1px;
  font-weight: 500;
}
.data-container form input {
  width: 100%;
  height: 45px;
  margin-top: 10px;
  border-radius: 5px;
  color: hsl(278deg, 68%, 11%);
  font-size: 18px;
  border: 1px solid hsl(270deg, 3%, 87%);
  padding: 8px 16px;
}
.data-container form input:focus,
.data-container form input:active {
  outline: 1px solid hsl(278deg, 68%, 11%);
}
.data-container form input::-moz-placeholder {
  color: hsl(270deg, 3%, 87%);
}
.data-container form input:-ms-input-placeholder {
  color: hsl(270deg, 3%, 87%);
}
.data-container form input::placeholder {
  color: hsl(270deg, 3%, 87%);
}
.data-container form .error {
  color: hsl(0deg, 100%, 66%);
  text-transform: none;
  font-size: 12px;
  margin-top: 5px;
  visibility: visible;
}
.data-container form .off {
  visibility: hidden;
}
.data-container form .error-border {
  border: 1px solid hsl(0deg, 100%, 66%);
}
.data-container form .error-border:focus,
.data-container form .error-border:active {
  outline: 1px solid hsl(0deg, 100%, 66%);
}
.data-container form .form-date-cvc-container {
  width: 100%;
  display: flex;
  gap: 15px;
}
.data-container form .form-date-cvc-container .form-date-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.data-container form .form-date-cvc-container .form-date-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.data-container form .form-date-cvc-container .form-date-inputs #exp-month {
  margin-right: 15px;
}
.data-container form .form-date-cvc-container .form-cvc-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 10px;
  color: white;
  background-color: hsl(278deg, 68%, 11%);
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: border 0.3s;
}

button:focus,
button:active {
  border: 2px solid hsl(270deg, 3%, 87%);
}

.thank-you-window {
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
  width: calc(100% - 50px);
  max-width: 600px;
}
.thank-you-window img {
  margin-bottom: 50px;
  width: 100px;
}
.thank-you-window .thank-you-label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 2px;
}
.thank-you-window .thank-you-text {
  color: hsl(279deg, 6%, 55%);
  margin: 15px 25px 40px 25px;
}

@media (min-width: 350px) and (min-height: 650px) {
  .bg-container .card-reverse {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 300px;
    height: 165px;
  }
  .bg-container .card-reverse div .card-reverse-cvc {
    top: 74px;
    left: 240px;
    font-size: 12px;
  }
  .bg-container .card-front {
    width: 300px;
    height: 165px;
    top: 125px;
    left: 15px;
  }
  .bg-container .card-front div .card-front-logo {
    width: 60px;
    margin: 20px;
  }
  .bg-container .card-front div .card-front-number {
    left: 20px;
    top: 85px;
  }
  .bg-container .card-front div .card-front-cardholder-name,
.bg-container .card-front div .card-front-exp-date {
    top: 130px;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .bg-container .card-front div .card-front-cardholder-name {
    left: 20px;
  }
  .bg-container .card-front div .card-front-exp-date {
    right: 20px;
  }
  .bg-container .card-front::before {
    width: 300px;
    height: 165px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .data-container {
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 65px auto 20px auto;
    width: calc(100% - 50px);
    max-width: 600px;
  }
  .data-container form {
    gap: 25px;
    font-size: 14px;
  }
  .data-container form input {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    font-size: 18px;
    padding: 8px 16px;
  }
  .data-container form .error {
    font-size: 12px;
    margin-top: 5px;
  }
  .data-container form .form-date-cvc-container {
    gap: 15px;
  }
  .data-container form .form-date-cvc-container .form-date-inputs #exp-month {
    margin-right: 15px;
  }
  button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .thank-you-window {
    margin: 70px auto 15px auto;
    width: calc(100% - 50px);
  }
  .thank-you-window img {
    margin-bottom: 50px;
    width: 100px;
  }
  .thank-you-window .thank-you-label {
    font-size: 28px;
    letter-spacing: 2px;
  }
  .thank-you-window .thank-you-text {
    margin: 15px 25px 40px 25px;
  }
}
@media (min-width: 370px) and (min-height: 800px) {
  .bg-container .card-reverse {
    position: absolute;
    top: 50px;
    right: 15px;
    width: 300px;
    height: 165px;
  }
  .bg-container .card-reverse div .card-reverse-cvc {
    top: 74px;
    left: 240px;
    font-size: 12px;
  }
  .bg-container .card-front {
    width: 300px;
    height: 165px;
    top: 145px;
    left: 15px;
  }
}
@media (min-width: 576px) and (min-height: 900px) {
  .bg-container .card-reverse {
    position: absolute;
    top: 60px;
    right: 35px;
    width: 350px;
    height: 192px;
  }
  .bg-container .card-reverse div .card-reverse-cvc {
    top: 85px;
    left: 275px;
    font-size: 16px;
  }
  .bg-container .card-front {
    width: 350px;
    height: 192px;
    top: 170px;
    left: 35px;
  }
  .bg-container .card-front div .card-front-logo {
    width: 70px;
    margin: 25px;
  }
  .bg-container .card-front div .card-front-number {
    left: 25px;
    top: 95px;
    font-size: 20px;
  }
  .bg-container .card-front div .card-front-cardholder-name,
.bg-container .card-front div .card-front-exp-date {
    top: 150px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .bg-container .card-front div .card-front-cardholder-name {
    left: 25px;
  }
  .bg-container .card-front div .card-front-exp-date {
    right: 25px;
  }
  .bg-container .card-front::before {
    width: 350px;
    height: 192px;
  }
  .data-container {
    margin: 85px auto 20px auto;
    width: calc(100% - 65px);
  }
  .data-container form {
    gap: 25px;
    font-size: 16px;
  }
  .data-container form input {
    margin-top: 10px;
    font-size: 18px;
    padding: 8px 16px;
  }
  .data-container form .error {
    font-size: 14px;
    margin-top: 6px;
  }
  button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .thankw-you-window {
    margin: 70px auto 15px auto;
    width: calc(100% - 65px);
  }
  .thankw-you-window img {
    margin-bottom: 50px;
    width: 120px;
  }
  .thankw-you-window .thank-you-label {
    font-size: 30px;
    letter-spacing: 2px;
  }
  .thankw-you-window .thank-you-text {
    margin: 15px 25px 40px 25px;
  }
}
@media (min-width: 768px) and (min-height: 1000px) {
  .bg-container .card-reverse {
    top: 80px;
    right: 100px;
  }
  .card-front {
    top: 190px;
    left: 100px;
  }
}/*# sourceMappingURL=style.css.map */