@media (min-width: 768px) and (min-height: 900px) {

	.bg-container {
		.card-reverse {
			position: absolute;
			top: 80px;
			right: 100px;
			width: 350px;
			height: 192px;
		}
		.card-front {

			top: 190px;
			left: 100px;

		}
		
	}
}